In [1]:
import pandas as pd
import time
from collections import defaultdict

In [2]:
%%time
train = pd.read_csv('./train_preprocess1.csv')
train.shape

<string>:2: DtypeWarning: Columns (15,18,20,21) have mixed types.Specify dtype option on import or set low_memory=False.

CPU times: user 1min 56s, sys: 37.8 s, total: 2min 34s
Wall time: 2min 44s

(40428967, 24)

In [3]:
train.head()

,id,click,C1,banner_pos,site_id_fix,site_domain_fix,site_category_fix,app_id_fix,app_domain_fix,app_category_fix,...,device_conn_type,C14_fix,C15,C16,C17_fix,C18,C19_fix,C20_fix,C21,hour_fix
0,1.000009e+18,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,2,15706,320,50,1722,0,35,-1,79,0
1,1.000017e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15704,320,50,1722,0,35,100084,79,0
2,1.000037e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15704,320,50,1722,0,35,100084,79,0
3,1.000064e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15706,320,50,1722,0,35,100084,79,0
4,1.000068e+19,0,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,07d7df22,...,0,18993,320,50,2161,0,35,-1,157,0

In [4]:
train.dtypes

id                   float64
click                  int64
C1                     int64
banner_pos             int64
site_id_fix           object
site_domain_fix       object
site_category_fix     object
app_id_fix            object
app_domain_fix        object
app_category_fix      object
device_id_fix         object
device_ip_fix         object
device_model_fix      object
device_type            int64
device_conn_type       int64
C14_fix               object
C15                    int64
C16                    int64
C17_fix               object
C18                    int64
C19_fix               object
C20_fix               object
C21                    int64
hour_fix               int64
dtype: object

In [6]:
%%time
train = train.astype(str)

CPU times: user 6min 22s, sys: 57 s, total: 7min 19s
Wall time: 7min 31s

In [7]:
train[train.columns.tolist()].nunique()

id                   40428967
click                       2
C1                          7
banner_pos                  7
site_id_fix              3478
site_domain_fix          4566
site_category_fix          22
app_id_fix               4905
app_domain_fix            296
app_category_fix           28
device_id_fix          655199
device_ip_fix         2268793
device_model_fix         6529
device_type                 5
device_conn_type            4
C14_fix                  2415
C15                         8
C16                         9
C17_fix                   426
C18                         4
C19_fix                    68
C20_fix                   167
C21                        60
hour_fix                   24
dtype: int64

In [9]:
train.head()

,id,click,C1,banner_pos,site_id_fix,site_domain_fix,site_category_fix,app_id_fix,app_domain_fix,app_category_fix,...,device_conn_type,C14_fix,C15,C16,C17_fix,C18,C19_fix,C20_fix,C21,hour_fix
0,1.0000094181510944e+18,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,2,15706,320,50,1722,0,35,-1,79,0
1,1.0000169349117864e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15704,320,50,1722,0,35,100084,79,0
2,1.000037190421512e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15704,320,50,1722,0,35,100084,79,0
3,1.0000640724480838e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15706,320,50,1722,0,35,100084,79,0
4,1.0000679056417042e+19,0,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,07d7df22,...,0,18993,320,50,2161,0,35,-1,157,0

## 點擊率計算

In [22]:
f_cols = train.columns.tolist()
f_cols.remove('id')
f_cols.remove('click')
f_cols

['C1',
 'banner_pos',
 'site_id_fix',
 'site_domain_fix',
 'site_category_fix',
 'app_id_fix',
 'app_domain_fix',
 'app_category_fix',
 'device_id_fix',
 'device_ip_fix',
 'device_model_fix',
 'device_type',
 'device_conn_type',
 'C14_fix',
 'C15',
 'C16',
 'C17_fix',
 'C18',
 'C19_fix',
 'C20_fix',
 'C21',
 'hour_fix']

In [23]:
def category_ctr(col):
    all_cnt = train[col].value_counts().to_dict()
    cli_cnt = train[col][train['click']=='1'].value_counts().to_dict()

    for cate in all_cnt.keys():
        if cate != 'DNP':
            cate_ctr['column'].append(col)
            cate_ctr['category'].append(cate)
            cate_ctr['impressions'].append(all_cnt[cate])
            cate_ctr['clicks'].append(cli_cnt[cate])
            cate_ctr['ctr'].append(round(cli_cnt[cate]/all_cnt[cate], 4))
    print(f'[ {col} ] CTR calculate complete')

In [24]:
%%time
cate_ctr = defaultdict(list)

for col in f_cols:
    category_ctr(col)

[ C1 ] CTR calculate complete
[ banner_pos ] CTR calculate complete
[ site_id_fix ] CTR calculate complete
[ site_domain_fix ] CTR calculate complete
[ site_category_fix ] CTR calculate complete
[ app_id_fix ] CTR calculate complete
[ app_domain_fix ] CTR calculate complete
[ app_category_fix ] CTR calculate complete
[ device_id_fix ] CTR calculate complete
[ device_ip_fix ] CTR calculate complete
[ device_model_fix ] CTR calculate complete
[ device_type ] CTR calculate complete
[ device_conn_type ] CTR calculate complete
[ C14_fix ] CTR calculate complete
[ C15 ] CTR calculate complete
[ C16 ] CTR calculate complete
[ C17_fix ] CTR calculate complete
[ C18 ] CTR calculate complete
[ C19_fix ] CTR calculate complete
[ C20_fix ] CTR calculate complete
[ C21 ] CTR calculate complete
[ hour_fix ] CTR calculate complete
CPU times: user 3min 59s, sys: 1min 17s, total: 5min 17s
Wall time: 6min 10s

In [25]:
df_cate_ctr = pd.DataFrame(cate_ctr)
df_cate_ctr.shape

(2947007, 4)

In [26]:
df_cate_ctr.head()

  category  impressions   clicks     ctr
0     1005     37140632  6289056  0.1693
1     1002      2220812   467995  0.2107
2     1010       903457    86023  0.0952
3     1012       113512    19580  0.1725
4     1007        35304     1392  0.0394

In [39]:
df_cate_ctr.describe().round(2)

       impressions      clicks         ctr
count   2947007.00  2947007.00  2947007.00
mean        296.37       51.25        0.63
std       68255.41    11827.33        0.35
min           1.00        1.00        0.00
25%           1.00        1.00        0.33
50%           2.00        1.00        0.50
75%           6.00        2.00        1.00
max    38136554.00  6318889.00        1.00

In [48]:
df_cate_ctr[df_cate_ctr['ctr'] == 1]['category'].nunique()

1253646

In [49]:
df_cate_ctr[df_cate_ctr['ctr'] == 1].describe().round(2)

       impressions      clicks        ctr
count   1253724.00  1253724.00  1253724.0
mean          1.22        1.22        1.0
std           0.67        0.67        0.0
min           1.00        1.00        1.0
25%           1.00        1.00        1.0
50%           1.00        1.00        1.0
75%           1.00        1.00        1.0
max          87.00       87.00        1.0

In [74]:
cate_all = set(df_cate_ctr['category'].unique())
cate_feat = set(df_cate_ctr[(df_cate_ctr['impressions'] >= 296) & (df_cate_ctr['ctr'] >= 0.63)]['category'].unique())
len(cate_all), len(cate_feat)

(2946602, 76)

In [75]:
# 有重複的 cate 值
df_cate_ctr['category'].nunique()

2946602

In [76]:
cate_del = list(cate_all - cate_feat)
len(cate_del)

2946526

In [ ]:
# DNP mapping
def dnp_mapping(col):
    # col = 'site_id'
    dnp_map = {cate:'DNP' for cate in cate_del}
    train[f'{col}_fix'] = train[col].map(dnp_map).fillna(train[col].astype(str))

    print(f'{col} mapping cost: {tcost}')

In [78]:
train.head()

,id,click,C1,banner_pos,site_id_fix,site_domain_fix,site_category_fix,app_id_fix,app_domain_fix,app_category_fix,...,device_conn_type,C14_fix,C15,C16,C17_fix,C18,C19_fix,C20_fix,C21,hour_fix
0,1.0000094181510944e+18,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,2,15706,320,50,1722,0,35,-1,79,0
1,1.0000169349117864e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15704,320,50,1722,0,35,100084,79,0
2,1.000037190421512e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15704,320,50,1722,0,35,100084,79,0
3,1.0000640724480838e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,0,15706,320,50,1722,0,35,100084,79,0
4,1.0000679056417042e+19,0,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,07d7df22,...,0,18993,320,50,2161,0,35,-1,157,0